{% extends "base.html" %}
{% block title %}{{ article.title }}{% endblock %}
{% block content %}
  <section class="article">
    <h1>{{ article.title }}</h1>
    <div class="cell small-12 metadata">
      Posted on {{ article.locale_date }}
      {% if article.modified %}
        and updated on {{ article.locale_modified }}
      {% endif %}
      by
      {% for author in article.authors %}
        <a href="{{ SITEURL }}/{{ author.url }}">{{ author }}</a>
      {% endfor %}
    </div>
    {% import 'translations.html' as translations with context %}
    {{ translations.translations_for(article) }}
    <div class="grid-x">
      <div class="cell small-12 medium-8">
        {{ article.content }}
      </div>
      <aside class="cell small-12 medium-4">
        <ul class="menu vertical no-margin">
          <li class="menu-text">Category</li>
          <li><a href="{{ SITEURL }}/{{ article.category.url }}">{{ article.category }}</a></li>
        </ul>
        <ul class="menu vertical no-margin">
          <li class="menu-text">Tags</li>
          {% for tag in article.tags %}
            <li><a href="{{ SITEURL }}/{{ tag.url }}">{{ tag | escape }}</a></li>
          {% endfor %}
        </ul>
      </aside>
  </section>
{% endblock %}
