<!DOCTYPE html>
<html lang="{{ DEFAULT_LANG }}">
  <head>
    {% block head %}
      <title>{% block title %}{{ SITENAME }}{% endblock %}</title>
      <meta charset="utf-8"/>
      <link rel="stylesheet" href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/css/app.css"/>
      {% if FEED_ALL_ATOM %}
        <link href="{{ FEED_DOMAIN }}/{{ FEED_ALL_ATOM }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Atom Feed" />
      {% endif %}
      {% if FEED_ALL_RSS %}
        <link href="{{ FEED_DOMAIN }}/{{ FEED_ALL_RSS }}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} RSS Feed" />
      {% endif %}
      <script src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/js/jquery.js"></script>
      <script src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/js/what-input.js"></script>
    {% endblock %}
  </head>
  <body>
    <div class="title-bar" data-responsive-toggle="main-nav" data-hide-for="medium">
      <button class="menu-icon" type="button" data-toggle></button>
      <div class="title-bar-title">Menu</div>
    </div>
    <header id="main-nav" class="top-bar">
      <nav class="top-bar-left">
        <ul class="menu dropdown" data-dropdown-menu="">
          <li class="menu-text">{{ SITENAME }}</li>
          {% for title, link in MENUITEMS %}
            <li><a href="{{ link }}">{{ title }}</a></li>
          {% endfor %}
          {% if DISPLAY_PAGES_ON_MENU -%}
            {% for menu_page in pages %}
              <li {% if menu_page == page %}class="active"{% endif %}><a href="{{ SITEURL }}/{{ menu_page.url }}">{{ menu_page.title }}</a></li>
            {% endfor %}
          {% endif %}
        </ul>
      </nav>
      <nav class="top-bar-right">
        <ul class="menu dropdown" data-dropdown-menu="">
          {% if DISPLAY_CATEGORIES_ON_MENU -%}
            <li><a href="#">Categories</a>
              <ul class="menu vertical">
                {% for menu_category, null in categories %}
                  {% if menu_category.name != 'cv' %}
                    <li {% if menu_category == category %}class="active"{% endif %}><a href="{{ SITEURL }}/{{ menu_category.url }}">{{ menu_category }}</a></li>
                  {% endif %}
                {% endfor %}
              </ul>
            </li>
          {% endif %}
        </ul>
      </nav>
    </header>
    <article class="grid-container">
      {% block content %}
      {% endblock %}
    </article>
    <footer class="grid-x grid-padding-x">
      {% if LINKS %}
        <nav class="cell small-12 medium-4">
          <h2>{{ LINKS_WIDGET_NAME | default('Links') }}</h2>
          <ul class="menu vertical">
            {% for name, link in LINKS %}
              <li><a href="{{ link }}">{{ name }}</a></li>
            {% endfor %}
          </ul>
        </nav>
      {% endif %}
      {% if SOCIAL or FEED_ALL_ATOM or FEED_ALL_RSS %}
        <nav class="cell small-12 medium-4">
          <h2>{{ SOCIAL_WIDGET_NAME | default('Social') }}</h2>
          <ul class="menu vertical">
            {% if FEED_ALL_ATOM %}
              <li><a href="{{ FEED_DOMAIN }}/{{ FEED_ALL_ATOM }}" type="application/atom+xml" rel="alternate">atom feed</a></li>
            {% endif %}
            {% if FEED_ALL_RSS %}
              <li><a href="{{ FEED_DOMAIN }}/{{ FEED_ALL_RSS }}" type="application/rss+xml" rel="alternate">rss feed</a></li>
            {% endif %}
            {% for name, link in SOCIAL %}
              <li><a href="{{ link }}">{{ name }}</a></li>
            {% endfor %}
          </ul>
        </nav>
      {% endif %}
      <nav class="cell small-12 medium-auto">
        <h2>Impressum</h2>
        <p>{{ AUTHOR }}</p>
        <p>Last generated: {{ GENERATION_DATE | strftime('%d.%m.%Y %H:%M')}}</p>
        <p>Generated with <a href="http://getpelican.com/">Pelican</a>, <a href="https://pybtex.org/">Pybtex</a>, and the power of <a href="http://python.org">Python</a>.</p>
      </nav>
    </footer>
    <script src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/js/foundation.js"></script>
    <script>$(document).foundation();</script>
  </body>
</html>
