{% extends "page.html" %}
{% block content %}
  {{ super() }}
  <section class="cv">
    <div class="grid-x">
      <div class="cell small-12 medium-9 large-10">
        <h2 id="cv-experience">Experience</h2>
        {% set titles = [''] %}
        {% for entry in cvs[page.cv].work %}
          <div class="entry {% if entry.company == titles[-1] %}short{% endif %}">
            <div class="grid-x">
              <div class="cell small-12 medium-6 large-8">
                {% if entry.company != titles[-1] %}<h3>{% if entry.website %}<a href="{{ entry.website }}">{{ entry.company }}</a>{% else %}{{ entry.company }}{% endif %}</h3>{% endif %}
                <p class="summary">{{ entry.position }}</p>
              </div>
              <div class="cell small-12 medium-6 large-4">
                {% if entry.title != titles[-1] %}<p class="location">{{ entry.location }}</p>{% endif %}
                <p class="dates">{{ entry.startDate | strftime('%d.%m.%Y') }}{% if entry.endDate %} - {{ entry.endDate | strftime('%d.%m.%Y') }}{% else %} - Present{% endif %}</p>
              </div>
            </div>
            {{ entry.summary }}
          </div>
          {% do titles.append(entry.company) %}
        {% endfor %}
        <h2 id="cv-education">Education</h2>
        {% set titles = [''] %}
        {% for entry in cvs[page.cv].education %}
          <div class="entry">
            <div class="grid-x">
              <div class="cell small-12 medium-6 large-8">
                {% if entry.institution != titles[-1] %}<h3>{% if entry.url %}<a href="{{ entry.url }}">{{ entry.institution }}</a>{% else %}{{ entry.institution }}{% endif %}</h3>{% endif %}
                <div class="summary">{{ entry.studyType }}</div>
              </div>
              <div class="cell small-12 medium-6 large-4">
                {% if entry.institution != titles[-1] %}<p class="location">{{ entry.location }}</p>{% endif %}
                <p class="dates">{{ entry.startDate | strftime('%d.%m.%Y') }}{% if entry.endDate %} - {{ entry.endDate | strftime('%d.%m.%Y') }}{% else %} - Present{% endif %}</p>
              </div>
            </div>
            {{ entry.summary }}
          </div>
          {% do titles.append(entry.institution) %}
        {% endfor %}
        <h2 id="cv-awards">Awards</h2>
        {% set titles = [''] %}
        {% for entry in cvs[page.cv].awards %}
          <div class="entry">
            <div class="grid-x">
              <div class="cell small-12 medium-6 large-8">
                {% if entry.awarder != titles[-1] %}<h3>{% if entry.url %}<a href="{{ entry.url }}">{{ entry.awarder }}</a>{% else %}{{ entry.awarder }}{% endif %}</h3>{% endif %}
                <div class="summary">{{ entry.title }}</div>
              </div>
              <div class="cell small-12 medium-6 large-4">
                {% if entry.awarder != titles[-1] %}<p class="location">{{ entry.location }}</p>{% endif %}
                <p class="dates">{{ entry.startDate | strftime('%d.%m.%Y') }}{% if entry.endDate %} - {{ entry.endDate | strftime('%d.%m.%Y') }}{% else %} - Present{% endif %}</p>
              </div>
            </div>
            {{ entry.summary }}
          </div>
          {% do titles.append(entry.awarder) %}
        {% endfor %}
        <h2 id="cv-training">Training</h2>
        {% set titles = [''] %}
        {% for entry in cvs[page.cv].training %}
          <div class="entry">
            <div class="grid-x">
              <div class="cell small-12 medium-6 large-8">
                {% if entry.institution != titles[-1] %}<h3>{% if entry.url %}<a href="{{ entry.url }}">{{ entry.institution }}</a>{% else %}{{ entry.institution }}{% endif %}</h3>{% endif %}
                <div class="summary">{{ entry.studyType }}</div>
              </div>
              <div class="cell small-12 medium-6 large-4">
                {% if entry.institution != titles[-1] %}<p class="location">{{ entry.location }}</p>{% endif %}
                <p class="dates">{{ entry.startDate | strftime('%d.%m.%Y') }}{% if entry.endDate %} - {{ entry.endDate | strftime('%d.%m.%Y') }}{% else %} - Present{% endif %}</p>
              </div>
            </div>
            {{ entry.summary }}
          </div>
          {% do titles.append(entry.institution) %}
        {% endfor %}
      </div>
      <div class="cell hide-for-small-only medium-3 large-2">
        <nav>
          <ul class="menu vertical align-right">
            <li><a href="#cv-experience">Experience</a></li>
            <li><a href="#cv-education">Education</a></li>
            <li><a href="#cv-awards">Awards</a></li>
            <li><a href="#cv-training">Training</a></li>
          </ul>
        </nav>
      </div>
    </div>
  </section>
{% endblock %}
