<section class="cv">
  <div class="grid-x">
    <div class="cell small-12 medium-9 large-10">
      <h2 id="cv-experience">Experience</h2>
      {% for article in articles if article.author == page.author and article.cv == 'experience' %}
        <div class="entry">
          <div class="grid-x">
            <div class="cell small-12 medium-6 large-8">
              <h3>{% if article.url %}<a href="{{ article.url }}">{{ article.title }}</a>{% else %}{{ article.title }}{% endif %}</h3>
              <div class="summary">{{ article.summary }}</div>
            </div>
            <div class="cell small-12 medium-6 large-4">
              <p class="location">{{ article.location }}</p>
              <p class="dates">{{ article.date | strftime('%d.%m.%Y') }}{% if article.modified %} - {{ article.modified | strftime('%d.%m.%Y') }}{% else %} - Present{% endif %}</p>
            </div>
          </div>
          {{ article.content }}
        </div>
      {% endfor %}
      <h2 id="cv-education">Education</h2>
      {% for article in articles if article.author == page.author and article.cv == 'education' %}
        <div class="entry">
          <div class="grid-x">
            <div class="cell small-12 medium-6 large-8">
              <h3>{% if article.url %}<a href="{{ article.url }}">{{ article.title }}</a>{% else %}{{ article.title }}{% endif %}</h3>
              <div class="summary">{{ article.summary }}</div>
            </div>
            <div class="cell small-12 medium-6 large-4">
              <p class="location">{{ article.location }}</p>
              <p class="dates">{{ article.date | strftime('%d.%m.%Y') }}{% if article.modified %} - {{ article.modified | strftime('%d.%m.%Y') }}{% else %} - Present{% endif %}</p>
            </div>
          </div>
          {{ article.content }}
        </div>
      {% endfor %}
      <h2 id="cv-awards">Awards</h2>
      {% for article in articles if article.author == page.author and article.cv == 'awards' %}
        <div class="entry">
          <div class="grid-x">
            <div class="cell small-12 medium-6 large-8">
              <h3>{% if article.url %}<a href="{{ article.url }}">{{ article.title }}</a>{% else %}{{ article.title }}{% endif %}</h3>
              <div class="summary">{{ article.summary }}</div>
            </div>
            <div class="cell small-12 medium-6 large-4">
              <p class="location">{{ article.location }}</p>
              <p class="dates">{{ article.date | strftime('%d.%m.%Y') }}{% if article.modified %} - {{ article.modified | strftime('%d.%m.%Y') }}{% else %} - Present{% endif %}</p>
            </div>
          </div>
          {{ article.content }}
        </div>
      {% endfor %}
      <h2 id="cv-training">Training</h2>
      {% for article in articles if article.author == page.author and article.cv == 'training' %}
        <div class="entry">
          <div class="grid-x">
            <div class="cell small-12 medium-6 large-8">
              <h3>{% if article.url %}<a href="{{ article.url }}">{{ article.title }}</a>{% else %}{{ article.title }}{% endif %}</h3>
              <div class="summary">{{ article.summary }}</div>
            </div>
            <div class="cell small-12 medium-6 large-4">
              <p class="location">{{ article.location }}</p>
              <p class="dates">{{ article.date | strftime('%d.%m.%Y') }}{% if article.modified %} - {{ article.modified | strftime('%d.%m.%Y') }}{% else %} - Present{% endif %}</p>
            </div>
          </div>
          {{ article.content }}
        </div>
      {% endfor %}
    </div>
    <div class="cell hide-for-small-only medium-3 large-2">
      <nav>
        <ul class="menu vertical align-right">
          <li><a href="#cv-experience">Experience</a></li>
          <li><a href="#cv-education">Education</a></li>
          <li><a href="#cv-awards">Awards</a></li>
          <li><a href="#cv-training">Training</a></li>
        </ul>
      </nav>
  </div>
</section>
